html, body {
    height:100%;
}

.radial-bg canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/cryptovationx/public/pinbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.space-bg canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/cryptovationx/public/Login_Background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.choosenpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}

.logo {
    margin-top:40px;
    margin-bottom: 40px;
    width: 500;
}

.portrait {
    margin-top:80px;
    margin-bottom: 40px;
    width: 500;
}

.container {
    background-color:white;
    padding-top: 20px;
    opacity: 0.92;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.kyctextbox {
    width: 100%;
    margin-left: 20px;
}

.kycmargin {
    margin-left: 20px;
}

.kycmargin-sm {
    margin-left: 10px;
}

.kycradio1 {
    margin-left: 20px;
    text-align: left;
}

.kycradio2 {
    margin-left: 20px;
    text-align: left;
}

.kycmargintext {
    margin-left: 20px;
    margin-top: 20px;
}

.kycheading {
    text-align: right;
}
.kycrow {
    margin-top: 20px
}

.kycselect {
    margin-left: 20px;
    width: 100%;
    height:25px;
}

.kycfile{
    background-color:	#1E90FF;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 20px;
}

.kycsubmit {
    background-color:	#1E90FF;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 60px;
}

.kycalert {
    margin-top: 75px;
    text-align: center;
}

.kyctransition{
    transition: 0.3s;
}

.kycunderlogo{
    color: white;
    text-align: center;
    font-size: 21px;
    font-family: 'Open Sans';
    margin-top: -42px;
    margin-bottom: 42px;
    margin-right: -20px;
}

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 400px;
  height: 300px;
}

.dot-success {
    height: 22px;
    width: 22px;
    background-color: rgb(58, 170, 58);
    border-radius: 50%;
}

.dot-warning {
    height: 22px;
    width: 22px;
    background-color: #ffc107;
    border-radius: 50%;
}

.dot-danger {
    height: 22px;
    width: 22px;
    background-color: rgb(170, 0, 0);
    border-radius: 50%;
}

.dot-grey {
    height: 22px;
    width: 22px;
    background-color: rgb(167, 167, 167);
    border-radius: 50%;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
