
#particles-js canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/images/pinbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.choosenpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}

.logo {
    margin-top:40px;
    margin-bottom: 40px;
    width: 500;
}

.portrait {
    margin-top:80px;
    margin-bottom: 40px;
    width: 500;
}

.container {
    background-color:white;
    height: 100%;
    opacity: 0.92;
}

.kyctextbox {
    width: 100%;
    margin-left: 20px;
}

.kycmargin {
    margin-left: 20px;
}

.kycradio1 {
    margin-left: 20px;
    text-align: left;
}

.kycradio2 {
    margin-left: 20px;
    text-align: left;
}

.kycmargintext {
    margin-left: 20px;
    margin-top: 20px;
}

.kycheading {
    text-align: right;
}
.kycrow {
    margin-top: 20px
}

.kycselect {
    margin-left: 20px;
    width: 100%;
    height:25px;
}

.kycfile{
    background-color:	#1E90FF;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 20px;
}

.kycsubmit {
    background-color:	#1E90FF;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 60px;
}

.kycalert {
    margin-top: 75px;
    text-align: center;
}

.kyctransition{
    transition: 0.3s;
}

.kycunderlogo{
    color: white;
    text-align: center;
    font-size: 21px;
    font-family: 'Open Sans';
    margin-top: -42px;
    margin-bottom: 42px;
    margin-right: -20px;
}
